@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
img {
  height: 200px;
  width: 300px;
}

.container {
  padding-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cat1 . cat2"
    ". . ."
    "cat4 . cat3";
  height: 70vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.App {
  height: 100vh;
  background-color: #99b8ff;
  background-image: radial-gradient(
      at 70% 99%,
      hsla(244, 70%, 66%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 62% 14%, hsla(358, 87%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 44%, hsla(246, 60%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 76% 44%, hsla(268, 70%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 31% 10%, hsla(305, 85%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 5%, hsla(108, 93%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 17%, hsla(228, 79%, 79%, 1) 0px, transparent 50%);
}

.cat1 {
  grid-area: cat1;
}

.cat2 {
  grid-area: cat2;
}

.cat3 {
  grid-area: cat3;
}

.cat4 {
  grid-area: cat4;
}
.titles {
  font-size: 5em;
  font-weight: 700;
}
